@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,700;1,100;1,200&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(#1c1917 50%, #ffb92a 50%);
}

.container {
  font-size: 16px;
  width: 90vw;
  padding: 3em 1.8em;
  background-color: #1e293b;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  border-radius: 0.5em;
  box-shadow: 10px 10px 10px rgba(16, 12, 12, 0.578);
}

.search-container {
  display: grid;
  grid-template-columns: 9fr 3fr;
  gap: 0.7em;
}

.search-container input,
.search-container button {
  font-size: 0.9em;
  outline: none;
  border-radius: 0.3em;
}

.search-container input {
  background-color: transparent;
  border: 1px solid #a0a0a0;
  color: #fff;
  padding: 0.6em;
}

.search-container input:focus {
  border-color: #fff;
}

.search-container button {
  background-color: #ffb92a;
  border: none;
  cursor: pointer;
}
